/*
 font-family: 'Fugaz One', cursive;
 font-family: 'montauk', sans-serif;
*/

/* Same Start */

body {
    background-image: url("../assets/RestaurantMockupFiles/assets/bgtexture.jpg");
    /* margin-left: 8.75rem;
    margin-right: 8.75rem; */
}

h1 {
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 3.125rem;
}

h2 {
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 1.875rem;
}

@font-face {
    font-family: 'Montauk-Regular';
    src: url("../assets/fonts/Montauk-Regular/Montauk-Regular.otf");    
}

p {
    color: #5F002B;
    font-size: 1.25rem;
}

.navbar {
    padding-bottom: 2.563rem;
}

.NavBarTextFormat {
    display: flex;
    justify-content: right;
}

.NavBarText {
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    display: flex;
}

.Header {
    text-align: center;
    background-color: white;
}

.footer {
    align-content: flex-end;
    bottom: 0;
}

.CompanyLogo {
    max-width: 6.75rem;
    max-height: 1.97rem;
}

.FooterLeft {
    display: flex;
    justify-content: left;
}

.FooterRight {
    display: flex;
    justify-content: right;
    padding-right: 8.75rem;
}

/* Same End */
@font-face {
    font-family: ‘Montauk-Regular’;
    src: url(“../assets/fonts/Montauk-Regular/Montauk-Regular.otf”);
}
p {
    color: #5F002B;
    font-size: 0.755rem;
}