/*
 font-family: 'Fugaz One', cursive;
 font-family: 'montauk', sans-serif;
*/

/* Same Start */

body {
    background-image: url("../assets/RestaurantMockupFiles/assets/bgtexture.jpg");
}

.BodyMargins {
    margin-left: 6rem;
    margin-right: 6rem;
}

h1 {
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 2rem;
}

h2 {
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 1.2rem;
}

@font-face {
    font-family: ‘Montauk-Regular’;
    src: url(“../assets/fonts/Montauk-Regular/Montauk-Regular.otf”);
}

p {
    color: #5F002B;
    font-size: 0.755rem;
}

.navbar {
    padding-bottom: 2.563rem;
}

.NavBarTextFormat {
    display: flex;
    justify-content: right;
}

.NavBarText {
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    display: flex;
}

.Header {
    text-align: center;
    background-color: white;
    line-height: 3rem;
}

.footer {
    margin-top: auto;
    padding: 0;
}

.CompanyLogo {
    max-width: 6.75rem;
    max-height: 1.97rem;
}

.FooterLeft {
    display: flex;
    justify-content: left;
}

.FooterRight {
    display: flex;
    justify-content: right;
}

/* Same End */

/* About Page Start */

#AboutMain {
    padding-bottom: 3.906rem;
}

#AboutMainImg {
    width: 100%;
}

#AboutMainImgCol {
    padding-left: 0;
}

#AboutMainTextBox {
    background-color: white;
}

#AboutMainTitle {
    padding-top: 1.875rem;
    padding-left: 1rem;
}

#AboutMainText {
    padding-left: 1rem;
    padding-right: 2.5rem;
}

.HeaderCol {
    padding: 0;
}

#OurTeamTitle {
    padding-bottom: 2rem;
}

.ChefCards {
    border-radius: 0;
}

.ChefCardsTop {
    padding-bottom: 1rem;
}

.ChefCardsBottom {
    padding-bottom: 6rem;
}

.ChefCardLeft {
    padding-left: 0;
}

.ChefCardRight {
    padding-right: 0;
}

.ChefCardImg {
    height: 26rem;
    object-fit: cover;
}

/* About Page End */

/* Menu Page Start */

.MenuCardsTop {
    padding-bottom: 1rem;
}

.MenuCardsBottom {
    padding-bottom: 6rem;
}

.MenuCardLeft {
padding-left: 0;
}

.MenuCardRight {
padding-right: 0;
}

.MenuCards {
    border-radius: 0;
}

.MenuCardImg {
    border-radius: 0;
}

.MenuCardTopRow {
    font-family: ‘Montauk-Regular’;
    src: url(“../assets/fonts/Montauk-Regular/Montauk-Regular.otf”);
}

.MenuCardPrice {
    text-align: end;
}

.MenuCardTextSpaceing {
    padding-bottom: 2rem;
}

.MenuCardBottomRow {
    border-bottom: 0.1rem solid #5F002B;
}

.MenuCardText {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Menu Page End */